.hire-locality
	width 100%

	.hire-select
		inline-block()
		width 110px
		min-width 110px
		margin-right 15px

		&:last-child
			margin-right 0

		.input-container
			width 100%

			.input
				white-space nowrap

			button
				background-color rgba(white, 90%)

			.input.placeholder
				small-gray()

		.hire-options
			border-top 1px solid #CCC
			margin-left 0
			margin-top -1px
			max-height 300px
			width 180%
