ul.layouts
	list-style none
	margin 0
	padding 0
	margin-left 14px

	li.layout
		border-bottom 1px solid #EEE
		margin-top 14px
		position relative

		&:last-child
			border none

		canvas
			position absolute
			right 0
			top 0
