.hire-list-editor
	height 100%

	& > button.add-new
		cursor pointer
		position absolute
		margin-top -32px

	.hire-list-filter, .persons-form
		inline-block()

	.hire-list-filter
		width 40%
		height 100%

		div.hire-input
			input
				width 100%
				height 30px

		.hire-options
			box-sizing border-box
			width 100%
			margin 0
			height calc(100% - 50px - 30px)
			max-height 100%

	.persons-form
		margin-left 5%
		width 55%

		& > ul
			list-style none
			padding 0
			margin 0

			& > li
				padding-bottom 20px

		& > button
			button()
			background spotColor
			// border 1px solid #CCC
			color #999
			// cursor pointer
			font-size 1em
			margin-top 20px
			padding 4px 20px

			&:hover
				margin-top 16px

		label, input
			inline-block()

		label
			color #888
			width 30%
			line-height 28px

		input
			width 70%

	svg
		width 14px
		height 14px
		-webkit-animation:spin 0.9s linear infinite;
		-moz-animation:spin 0.9s linear infinite;
		animation:spin 0.9s linear infinite;

	// ul.filtered-values
	// 	list-style none
	// 	padding 7px 0 0 7px
	// 	margin 0

	// 	li
	// 		cursor pointer
