.codex-form footer
	position fixed
	bottom 0
	left 0
	right 0
	height FOOTER_HEIGHT
	background #EEE
	box-shadow -1px 0 3px #CCC

	.hire-tooltip
		right 5%
		bottom 80px
		width 493px

		ul
			padding 0 0 0 20px
			margin 0

			li
				margin-bottom 12px

				&:last-child
					margin-bottom 0

	.dates
		padding 10px
		font-size 0.8em
		color #BBB
		left calc(5% + 150px)
		position absolute

	button.cancel
		color darken(msDarkGray, 15%)
		left 5%
		text-decoration none

		&:hover
			background orange
			box-shadow 0 2px 3px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.1)
			color white


	button
		border none
		background msGray
		// background none
		color darken(msDarkGray, 15%)
		// font-weight bold
		text-transform uppercase
		font-size 0.9em
		padding 10px 20px
		cursor pointer
		outline none
		top 12px
		position absolute



		&.delete
			right calc(5% + 400px)

			&:hover
				color msLighterBlue
				background msRed
				box-shadow 0 2px 3px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.1)

		&.save, &.save-return
			&:hover
				color white
				background msLightBlue
				box-shadow 0 2px 3px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.1)

		&.save
			right calc(5% + 192px)

		&.save-return
			right 5%

	.overlay
		background-color rgba(0, 0, 0, 0.6)
		bottom FOOTER_HEIGHT
		left 0
		position fixed
		right 0
		top MAIN_HEADER_HEIGHT + MAIN_MENU_HEIGHT

		svg
			position absolute
			left 50%
			top 50%
			margin -15px 0 0 -60px
