.hire-multi-form > button.hire-add-form
	multiFormButton()
	color #999

	&:hover
		background spotColor

li.well > .hire-multi-form > button.hire-add-form
	right -18px
	top -48px

	&:hover
		top -52px

.text-unit-form, .margin-unit-form
	& > .hire-multi-form > button.hire-add-form
		button()
		background-color spotColor
		margin-bottom 20px
		padding 2px 20px
		position static
		width auto
