@keyframes checkbox_border
	from
		transform translateY(0px) rotate(0deg) scale(1)
		opacity 1
	to
		transform translateY(-42px) rotate(45deg) scale(0.6)
		opacity 0

@keyframes checkbox_border_out
	from
		transform translateY(-42px) rotate(45deg) scale(0.6)
		opacity 0
	to
		transform translateY(0px) rotate(0deg) scale(1)
		opacity 1

@keyframes checkbox_checkmark_arm1
	from
		transform translate(0px, 0px) rotate(0deg) scale(1, 1)
		opacity 0
		color msDarkGray
	to
		transform translate(-50px, 24px) rotate(45deg) scale(2, 0.8)
		opacity 1
		color msLightBlue
@keyframes checkbox_checkmark_arm1_out
	from
		transform translate(-50px, 24px) rotate(45deg) scale(2, 0.8)
		opacity 1
		color msLightBlue
	to
		transform translate(0px, 0px) rotate(0deg) scale(1, 1)
		opacity 0
		color msDarkGray

@keyframes checkbox_checkmark_arm2
	from
		transform translate(0px, 0px) rotate(0deg) scale(1, 1)
		opacity 0
		color msDarkGray
	to
		transform translate(-26px, -47px) rotate(45deg) scale(0.5, 2)
		opacity 1
		color msLightBlue

@keyframes checkbox_checkmark_arm2_out
	from
		transform translate(-26px, -47px) rotate(45deg) scale(0.5, 2)
		opacity 1
		color msLightBlue
	to
		transform translate(0px, 0px) rotate(0deg) scale(1, 1)
		opacity 0
		color msDarkGray

div.hire-checkbox
	svg
		width 16px

	svg, label
		inline-block()

	label
		padding-left 8px

	rect
		fill msDarkGray
		stroke msDarkGray
		transform-origin center

	rect:first-child
		opacity 1
		transform translate(0) rotate(0deg) scale(1)
		-webkit-animation checkbox_border_out 0.5s

	rect:nth-child(2)
		opacity 0
		transform translate(0px, 0px) rotate(0deg) scale(1, 1)
		-webkit-animation checkbox_checkmark_arm1_out 0.5s

	rect:last-child
		opacity 0
		transform translate(0px, 0px) rotate(0deg) scale(1, 1)
		-webkit-animation checkbox_checkmark_arm2_out 0.5s

	&.checked
		rect:first-child
			opacity 0
			transform translateY(-42px) rotate(45deg) scale(0.6)
			-webkit-animation checkbox_border 0.5s

		rect:nth-child(2)
			opacity 1
			transform translate(-50px, 24px) rotate(45deg) scale(2, 0.8)
			-webkit-animation checkbox_checkmark_arm1 0.5s
			fill msLightBlue

		rect:last-child
			opacity 1
			stroke none
			transform translate(-26px, -47px) rotate(45deg) scale(0.5, 2)
			-webkit-animation checkbox_checkmark_arm2 0.5s
			fill msLightBlue