div.hire-checkbox
	cursor pointer

	svg
		width 16px
		height 16px

	svg, label
		inline-block()

	label
		padding-left 8px

	g.checkmark
		opacity 0
		transition opacity 100ms

	g.box
		rect
			stroke #CCC

	&.checked
		g.checkmark
			opacity 1
