.hire-combo
	.hire-autocomplete
		position relative

		input.hire-input
			width 100%

		button
			position absolute
			width 30px
			height 100%
			right 0
			background none
			border none
			outline none
			cursor pointer