.hire-locality
	width 100%

	.hire-select
		inline-block()
		width 170px
		margin-right 20px

		&:last-child
			margin-right 0

		.input-container
			width 100%

			.input.placeholder
				small-gray()