multiFormButton()
	cursor pointer
	background none
	border none
	font-size 1.2em
	font-weight bold
	height 24px
	outline none
	padding 0
	position absolute
	transition all 250ms
	width 24px

	&:hover
		box-shadow 0 2px 3px rgba(0, 0, 0, 0.4), 0 6px 12px rgba(0, 0, 0, 0.2)

.hire-multi-form
	min-width 44px
	position relative

	& > button.hire-add-form
		multiFormButton()
		color #999
		right -18px
		top -48px

		&:hover
			top -52px
			background spotColor


	// List of forms
	& > ul.form-list
		margin 0
		padding 0
		list-style none

		// One form
		& > li.form
			box-sizing border-box
			margin-bottom 20px
			max-width 100%
			padding 20px
			position relative
			transition all 250ms
			width 100%

			&:hover, &.new
				well()

				button.hire-remove-form
					opacity 1

			&.new
				box-shadow 1px 10px 30px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.04)

			button.hire-remove-form
				multiFormButton()
				color msGray
				top 12px
				right 10px
				opacity 0
				transition all 250ms

				&:hover
					top 8px
					background msRed