// .codex-record
// 	margin-bottom 180px
//
// 	.codex-record-body
// 		margin 0 5%
//
// 		& > div, & > img
// 			inline-block()
//
// 		& > div
// 			width 60%
//
// 		& > img
// 			margin-left 5%
// 			width 35%
//
// 		.well
// 			h3
// 				font-size 1em
// 				font-weight normal
// 				margin 20px 0 0 0
//
// 				&.no-margin
// 					margin-top 0
//
// 	// & > .hire-tabs > .hire-tab
// 	// 	max-width 720px
// 	// 	margin auto
//
//
// 	label + ul
// 		inline-block()
//
// 	.annotation-type, .specific-phenomenon
// 		font-size 0.9em
// 		margin-bottom 24px
//
// 		&:last-child
// 			margin-bottom 0
//
// 		.text
// 			margin-bottom 2px
