.hire-form
	div, ul
		box-sizing border-box

.hire-checkbox
	// &.checked
	// 	svg path:last-child
	// 		opacity 1

	// svg
	// 	width 16px
	// 	height 14px

	// path:last-child
	// 	opacity 0

	label
		padding-left 4px

.hire-select
	position relative
	min-width 120px
	background white

	.input-container
		border 1px solid #CCC
		position relative
		width 100%

		.input
			height 20px
			line-height 20px
			select-none()
			cursor default

		button
			cursor pointer
			position absolute
			right 2px
			top 0
			height 20px
			background none
			border none
			color #999
			outline none

ul.hire-options
	position absolute
	background white
	border 1px solid #CCC
	border-top none

.hire-textarea
	outline none

.hire-list-editor
	height 100%

	.hire-list-filter
		height 100%

		.hire-input
			height 30px

		.hire-options
			height calc(100% - 50px - 30px)
			max-height 100%
