button()
	cursor pointer
	background none
	border none
	font-size 1.2em
	font-weight bold
	outline none
	transition all 250ms

	&:hover
		box-shadow 0 2px 3px rgba(0, 0, 0, 0.4), 0 6px 12px rgba(0, 0, 0, 0.2)


inline-block()
	display inline-block
	box-sizing border-box
	vertical-align top

select-none()
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

small-gray()
	font-style italic
	font-size 0.8em
	color #999

well()
	background white
	// box-shadow 0 1px 4px #BBB
	box-shadow 1px 1px 3px rgba(0, 0, 0, 0.1), -1px -1px 1px rgba(0, 0, 0, 0.04)
	padding 20px

labelAndSpan()
	& > label, & > label + span, & > label + ul
		inline-block()

	& > label
		color #888
		width 200px

		& + span, & + ul
			width calc(100% - 200px)
