.hire-list-editor			
	ul.filtered-values
		list-style none
		padding 7px 0 0 7px
		margin 0
		
		li
			cursor pointer

@keyframes checkbox_border
	from
		transform translateY(0px) rotate(0deg) scale(1)
		opacity 1
	to
		transform translateY(-42px) rotate(45deg) scale(0.6)
		opacity 0
		
@keyframes checkbox_border_out
	from
		transform translateY(-42px) rotate(45deg) scale(0.6)
		opacity 0
	to
		transform translateY(0px) rotate(0deg) scale(1)
		opacity 1
		
@keyframes checkbox_checkmark_arm1
	from
		transform translate(0px, 0px) rotate(0deg) scale(1, 1)
		opacity 0
		color msDarkGray
	to
		transform translate(-50px, 24px) rotate(45deg) scale(2, 0.8)
		opacity 1
		color msLightBlue
@keyframes checkbox_checkmark_arm1_out
	from
		transform translate(-50px, 24px) rotate(45deg) scale(2, 0.8)
		opacity 1
		color msLightBlue	
	to
		transform translate(0px, 0px) rotate(0deg) scale(1, 1)
		opacity 0
		color msDarkGray

@keyframes checkbox_checkmark_arm2
	from
		transform translate(0px, 0px) rotate(0deg) scale(1, 1)
		opacity 0
		color msDarkGray
	to
		transform translate(-26px, -47px) rotate(45deg) scale(0.5, 2)
		opacity 1
		color msLightBlue

@keyframes checkbox_checkmark_arm2_out
	from
		transform translate(-26px, -47px) rotate(45deg) scale(0.5, 2)
		opacity 1
		color msLightBlue
	to
		transform translate(0px, 0px) rotate(0deg) scale(1, 1)
		opacity 0
		color msDarkGray

div.hire-checkbox
	svg
		width 16px
	
	svg, label
		inline-block()
		
	label
		padding-left 8px

	rect
		fill msDarkGray
		stroke msDarkGray
		transform-origin center
		
	rect:first-child
		opacity 1
		transform translate(0) rotate(0deg) scale(1)
		-webkit-animation checkbox_border_out 0.5s
		
	rect:nth-child(2)
		opacity 0
		transform translate(0px, 0px) rotate(0deg) scale(1, 1)
		-webkit-animation checkbox_checkmark_arm1_out 0.5s
		
	rect:last-child
		opacity 0
		transform translate(0px, 0px) rotate(0deg) scale(1, 1)
		-webkit-animation checkbox_checkmark_arm2_out 0.5s
	
	&.checked
		rect:first-child
			opacity 0
			transform translateY(-42px) rotate(45deg) scale(0.6)
			-webkit-animation checkbox_border 0.5s
			
		rect:nth-child(2)
			opacity 1
			transform translate(-50px, 24px) rotate(45deg) scale(2, 0.8)
			-webkit-animation checkbox_checkmark_arm1 0.5s
			fill msLightBlue
			
		rect:last-child
			opacity 1
			stroke none
			transform translate(-26px, -47px) rotate(45deg) scale(0.5, 2)
			-webkit-animation checkbox_checkmark_arm2 0.5s
			fill msLightBlue
		
.hire-multi-select
	.hire-checkbox
		margin-bottom 10px
		
		&:last-child
			margin-bottom 0

ul.hire-form
	list-style none
	margin 0
	padding 0
	
	& > li
		margin-bottom 20px
		
		&:last-child
			margin-bottom 10px
	
		label, & > ul, & > div
			inline-block()

		& > ul, & > div
			max-width calc(100% - 200px)
			
		& > ul
			list-style none
			
		label
			width 200px
	
ul.codex-form, .margin-unit-form > .hire-multi-form > ul > li > ul.hire-form
	& > li > label
		margin-left 20px
	
	li.well
		& > label
			display block
			color #999
			width 100%
			font-size 1.2em
		
		& > ul, & > div
			background white
			box-shadow 0 1px 4px #BBB
			padding 20px
			max-width 100%
			width 100%
			
		& > .hire-multi-form
			background none
			box-shadow none
			padding 0
			
		& > ul > li
			margin-bottom 20px
			
			&:last-child
				margin-bottom 0
			
		& > div > textarea
			width 100%
			border none
			outline none
			font-size 1em
			padding 0
			
		&.small-inputs
			input
				width 100px
				
			span
				line-height 30px
				
			input, span
				margin-right 10px
				
		// .hire-multi-form
		// 	background none
		// 	box-shadow none
		// 	padding 0
		// 	margin-bottom 40px
		// 	position relative
						
		// 	button.hire-add-form
		// 		position absolute
		// 		margin-top 6px
		// 		right 20px
			
		// 	button.hire-remove-form	
		// 		position absolute
		// 		top 20px
		// 		right 20px
				
		// 		&:hover
		// 			background red

		// 	& > ul
		// 		margin 0
		// 		padding 0
		// 		list-style none
				
		// 		& > li
		// 			box-sizing border-box
		// 			position relative
		// 			background white
		// 			box-shadow 0 1px 4px #999
		// 			padding 20px
		// 			max-width 100%
		// 			width 100%
		// 			margin-bottom 6px

		
		
input, textarea, .hire-select .input-container
	inline-block()
	border 1px solid #CCC
	width 360px
	padding 4px 6px
	font-size 1em
	
input, textarea
	outline none
	
.hire-input.focus, .hire-textarea.focus
	border-bottom 1px solid msLightBlue

textarea
	font-family inherit

.hire-select 
	width 360px
	
	& .input-container button
		top 4px
	
ul.hire-options
	padding 0
	margin 0
	width 95%
	margin-left 2.5%
	list-style none
	
	li
		padding 2px 4px
		
		&.highlight
			background spotColor

.hire-list
	& > span
		small-gray()
	
	& > ul
		padding 0 0 0 20px
		margin 0
		list-style-type disc
		
.hire-locality
	width 100%
	
	.hire-select
		inline-block()
		width 170px
		margin-right 20px
		
		&:last-child
			margin-right 0
		
		.input-container
			width 100%
			
			.input.placeholder
				small-gray()
					
// ul.edit-codex			
// 	li.well
// 		div.hire-multi-form > ul > li
// 			background #FFF

.hire-multi-form
	min-width 44px
	margin-bottom 40px
	position relative
	
	button.hire-add-form, button.hire-remove-form
		position absolute
		border none
		background msGray
		color msDarkGray
		font-weight bold
		font-size 1.2em
		cursor pointer
		width 24px
		outline none
		
		&:hover
			color msLighterBlue
			box-shadow 0 2px 3px rgba(0, 0, 0, 0.4), 0 6px 12px rgba(0, 0, 0, 0.2)

	button.hire-add-form
		margin-top 6px
		right 20px
	
		&:hover
			background msLightBlue
	
	button.hire-remove-form
		top 20px
		right 20px
		
		&:hover
			background msRed

	& > button.hire-add-form
		margin-top 0

	& > ul
		margin 0
		padding 0
		list-style none
		
		& > li
			box-sizing border-box
			position relative
			background white
			box-shadow 0 1px 4px #BBB
			padding 20px
			max-width 100%
			width 100%
			margin-bottom 6px