.app > .codex-form
	height "calc(100% - %s)" % headerHeight

.app > .codex-record > .hire-tabs,
.app > .codex-form > .hire-tabs,
.hire-faceted-search-filters > .hire-tabs
	position relative
	height "calc(100% - %s)" % headerHeight

	& > ul
		list-style none
		padding 0
		margin 0
		padding-left 5%
		border-bottom 1px solid #DDD
		box-shadow 0 1px 1px #DDD
		background msLightBlue

		li
			inline-block()
			// border 1px solid #BBB
			// border-bottom 0
			border-left 0
			padding 14px
			min-width 120px
			width auto
			text-transform uppercase
			font-size 0.9em
			text-align center
			cursor pointer
			color msLighterBlue

			&.active
				border-bottom 2px solid spotColor
				font-weight bold
				color white
				// box-shadow 0 2px 2px #8AB0C9

			&:nth-child(5)
				margin-left 120px

.hire-faceted-search-filters > .hire-tabs
	position static

	& > ul
		left 0
		position absolute
		right 0
		top 75px


.app > .codex-form > .hire-tabs
	& > .hire-tab
		height calc(100% - 100px)
		width 90%
		margin-left 5%
		margin-top 50px

		.hire-tabs
			& > ul
				inline-block()
				width 240px
				list-style none
				margin 0
				padding 0
				color #888

				& > li
					cursor pointer
					margin-bottom 1em

					span
						padding-bottom 2px
						border-bottom-width 2px
						border-bottom-style solid
						border-bottom-color rgba(msBlue, 0)
						transition border-bottom-color 400ms

					&:hover
						color msBlue

					&.active
						span.label
							color msBlue
							border-bottom-color msBlue

			& > .hire-tab
				inline-block()
				width calc(100% - 240px)
				margin-bottom 200px

				h2
					color msBlue
					margin-top 0
					padding-left 20px

.hire-tabs.sub-menu
	& > ul
		inline-block()
		width 160px
		list-style none
		margin 0
		padding 0
		color #888

		& > li
			cursor pointer
			margin-bottom 1em

			span
				padding-bottom 2px
				border-bottom-width 2px
				border-bottom-style solid
				border-bottom-color rgba(msBlue, 0)
				transition border-bottom-color 400ms

			&:hover
				color msBlue

			&.active
				span.label
					color msBlue
					border-bottom-color msBlue

	& > .hire-tab
		inline-block()
		width calc(100% - 160px)

		h2
			color msBlue
			margin-top 0
			padding-left 20px