.app > header
	padding 0 5%
	background msBlue
	height MAIN_HEADER_HEIGHT

	h1, .logos, .logos img, .hire-login
		inline-block()

	h1
		line-height MAIN_HEADER_HEIGHT
		margin 0
		white-space nowrap
		width calc(75% - 100px)

		a
			color msLighterBlue
			text-decoration none

	button.add-codex
		button()
		background-color spotColor
		font-size 0.8em
		font-weight normal
		height 25px
		padding 2px 16px
		position absolute
		right 5%
		top 86px
		z-index 10000

	.logos
		width 200px

		img
			height 40px
			margin-top 12px
			margin-right 16px

			&.nwo
				height 32px
				margin-right 0

	.hire-login
		position relative
		text-align right
		width calc(25% - 100px)
		margin-top 25px

		button
			button()
			background-color spotColor
			font-size 1em
			font-weight normal
			height 25px
			padding 2px 16px

		.login-form
			background-color #EEE
			border 1px solid #DDD
			width 240px
			right 0

			button
				margin-top 0
				width 100%

		.login-status
			border 1px solid darken(msBlue, 30%)
			padding 8px
			border-radius 3px
