.date-row
	& > span
		cursor pointer
		border-radius 24px
		inline-block()
		color darken(spotColor, 55%)
		background spotColor
		border 1px solid darken(spotColor, 45%)
		padding 1px 6px
		margin 2px 0 0 12px
		font-weight bold
