.hire-faceted-search
	padding-top 75px

	ul, ol
		list-style none
		padding 0
		margin 0

	.hire-faceted-search-text-search
		display none

	& > .hire-faceted-search-results
		width 65%

	.hire-faceted-search-filters
		.hire-range-facet
			svg.hire-range-slider
				stroke #BBB
				stroke-width 2

				g.range-line
					fill msLightBlue
					stroke msLightBlue

					path
						stroke-width 4

					*.hovering, *:hover
						fill msBlue
						stroke msBlue
