@import './stylus/functions.styl'

html, body
	margin 0
	padding 0
	font-size 16px
	background #EEE
	font-family: Helvetica
	
header
	width 90%
	margin-left 5%

nav.menu, .elements
	inline-block()
	
nav.menu
	margin-left 5%
	width 20%
	
	ol
		list-style none
		margin 0
		padding 0
		
.elements
	width 70%
	
	.element-type
		background white
		padding 20px
		box-shadow 0 1px 4px #999
	
	h2
		margin 20px 0 6px 0
		color gray
		font-weight normal
		font-size 1.2em
		
		&:first-child
			margin-top 0
		
	h3
		margin 30px 0 6px 0
		padding 0
		font-weight normal
		font-size 1em
		
		&:first-child
			margin-top 0
		
	.hire-list, .input-container
		box-shadow 0 1px 4px #999
		padding 20px
		width 300px
		background white