doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title Huygens ING React Forms Showcase
		link(href="/css/form.css", rel="stylesheet")
		//- script.
		//- 	var SERVER_STATE = !{JSON.stringify(serverState)};
		script(src="/js/libs.js")
		script(src="/js/form.js")
	body
