@import './stylus/functions.styl'
@import './stylus/animations.styl'

msGray = #E0E0E0
msDarkGray = #9E9E9E
msRed = #F44336
msBlue = #009688
msLightBlue = #00BFA5
// msBlue = #00A0B4
// msLightBlue = #00BCD4
msLighterBlue = #E0F2F1
spotColor = #F2FC90

MAIN_HEADER_HEIGHT = 75px
MAIN_MENU_HEIGHT = 46px
FOOTER_HEIGHT = 60px

html
	overflow-y scroll

html, body
	height 100%
	margin 0
	padding 0
	font-size 16px
	background #EEE
	font-family: Helvetica


#container, .app
	height 100%

// .empty
// 	small-gray()

canvas
	position absolute

@import "./stylus/tabs.styl"
@import "./stylus/well.styl"
@import "./stylus/form/*.styl"
@import "./stylus/form/multi-form/*.styl"
@import "./stylus/marginal-scholarship.styl"
@import "./components/**/*.styl"

.hire-checkbox
	svg
		width 60px
		height 60px
