@import './stylus/functions.styl'

html, body
	margin 0
	padding 0
	font-size 16px
	background #EEE
	font-family: Helvetica
	
header
	width 90%
	margin-left 5%

nav.menu, .elements
	inline-block()
	
nav.menu
	margin-left 5%
	width 20%
	
	ol
		list-style none
		margin 0
		padding 0
		
	
.elements
	width 70%
	
	h3
		margin 0 0 20px 0
		padding 0
	
	.list
		box-sizing border-box
		background white
		padding 20px
		box-shadow 0 1px 4px #999
		
		.hire-list
			box-shadow 0 1px 4px #999
			padding 20px
			width 300px
			background white